* {
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    height: 100dvh;
    width: 100%;
}

.nav {
    position: fixed;
    bottom: 0dvh;
    padding: 12px 0;
    background-color: white;
    color: black;
    width: 100%;
    margin: 0 auto;
}

.nav ul {
    list-style: none;
    display: flex;
    overflow: hidden;
    width: 100%;
    margin: 0;
}


.nav ul li {
    min-width: 19%;
    display: block;
    width: 100%;
    border-right: 1px dotted #333333;
}

.nav ul li:last-child {
    border-right: none;
}

.nav a {
    text-decoration: none;
    color: black;
    display: block;
    font-size: 17px;
    text-transform: uppercase;
    height: auto;
    font-weight: 500;
}
.nav a:hover {
    color: white;
    background-color: #673AB7;
}
.icon {
    display: block;
    min-width: 40px;
    height: 30px;
    font-size: 28px;
    line-height: 30px;
    text-align: center;
    margin:0 auto;
    margin-bottom: 5px;
}
.lnk {
    line-height: 13px;
    display: block;
    font-size: 14px;
    font-weight: 500;
    text-transform: uppercase;
    text-align: center;
}

.intro {
    padding: 100px 35px;
    background-color: #FDFDFD;
    min-height: 100dvh;
    background: transparent;
}

.intro h1 , h2, h4 {
    margin-bottom: 30px;
    font-family: "Open Sans", sans-serif;
}

.intro h4 {
    font-size: 24px;
    font-weight: 400;
}

.intro h1{
    text-transform: uppercase;
    font-size: 56px;
    font-weight: 700;
    font-family: "EB Garamond", serif;
}

.intro h2 {
    font-size: 32px;
    font-weight: 500;
}

.intro a {
    text-decoration: none;
    display: block;
    margin-bottom: 32px;
    padding: 15px 45px;
    border: 3px solid #673AB7;
    text-align: center;
    border-radius: 2em;
    font-size: 20px;
    font-weight: 600;
    text-transform: uppercase;
    width: fit-content;
}

.btn-fil {
    color: white;
    background-color: #673AB7;
}

.btn-fil:hover {
    background-color: white;
    color:#673AB7;
}
.btn-empty {
    background-color: white;
    color:#673AB7;
}
.btn-empty:hover {
    background-color: #673AB7;
    color: white;
}

#about, #skills, #language{
    padding: 15px 15px 75px 15px;
}

#about h2, #skills h2, #language h2 {
    font-size: 32px;
    font-weight: 600;
    position: relative;
    text-transform: uppercase;
    font-family: "EB Garamond", serif;
}
.hr {
    width: 70px;
    height: 5px;
    background-color: #673AB7;
}

#about p, #skills p, #language p{
    margin-bottom: 1rem;
    margin-top: 2rem;
    box-sizing: inherit;
    font-weight: 400;
    color: #6f6f6f;
    font-size: 1rem;
    line-height: 1.875rem;
    font-family: "Open Sans", sans-serif;
}

#about ul {
    list-style-type: none;
}
#about ul li {
    display: block;
    width: auto;
    word-break: break-word;
    text-align: right;
    font-size: 15px;
    line-height: 45px;
    font-family: "Open Sans", sans-serif;
}

#about ul li strong {
    float: left;
    font-size: 14px;
    line-height: 45px;
    font-weight: 400;
    text-transform: none;
    font-family: "Open Sans", sans-serif;
}

.about-btn {
    display: block;
    padding: 10px;
    text-align: center;
    border: 1px solid #673AB7;
    text-decoration: none;
    color: #000000;
}
.about-btn:hover {
    color: white;
    background-color: #673AB7;
}

#skills h3 {
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 500;
    font-family: "Open Sans", sans-serif;
    margin: 50px 0 10px;
}
.progress-card {
    margin-top: 40px;
}
.progress-text {
    text-align: center;
    margin-top: 2rem;
}
.progress-text h4 {
    font-size: 25px;
    font-weight: 100;
    line-height: 30px;
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    margin-bottom: 0 !important;
}
.progress-text p {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: #545454;
    line-height: 22px;
    margin-top: 0 !important;
}


[role="progressbar"] {
    display: none;
    --size: 165px;
    --bar-width: 20px;
    
    font-size: 2.5rem;
    width: var(--size);
    aspect-ratio: 1 / 1;
    color: black;

    background: conic-gradient(#673AB7 56%, rgb(238, 236, 236) 0%);
    border-radius: 50%;
    margin: 1rem auto;
    display: grid;
    place-items: center;


    &::after {
        content: attr(aria-valuenow) "%";
        background-color: white;
        border-radius: inherit;
        width: calc(100% - var(--bar-width));
        aspect-ratio: 1 / 1;
        display: grid;
        place-items: center;
    }
}
.progressbar:not([role="progressbar"]) {
    color: red;
}

#language {
    color: white;
    background-color: #673AB7;
}

#language .hr {
    background-color: white;
}

#language p {
    color: white;
}

.language-progressbar-english {
    height: 5px;
    width: 100%;
    background: linear-gradient(to right, white 70%, gray 0%);
}

.language-progressbar-russian {
    height: 5px;
    width: 100%;
    background: linear-gradient(to right, white 100%, gray 0%);
}

.language-progressbar-kazakh {
    height: 5px;
    width: 100%;
    background: linear-gradient(to right, white 55%, gray 0%);
}

@media (max-width: 425px) {
    .intro h1{
        font-size: 38px;
    }
    .intro h2 {
        font-size: 26px;
    }
    .intro h4 {
        font-size: 18px;
    }
    #about h2 {
        font-size: 26px;
    }
    .lnk {
        font-size: 11px;
    }
}